:root {
    --theme-color: rgb(254, 253, 255);
    --nav-color: rgb(66, 36, 97);
    --footer-color: rgb(41, 8, 67);
}

body {
    background-color: var(--theme-color) !important;
}

nav {
    background-color: var(--nav-color);
}

footer {
    background-color: var(--footer-color);
    color: var(--theme-color);
}
